body{
    width: auto;
    height: 2500px;
    background-color: #ddebea;
}

#happyBirthdayA{
    position: absolute;
    top: -35px;
    left: 33%;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    font-size: 65px;
    color: rgba(20, 103, 130, 0.89);
}

body.mobile #happyBirthdayA {
    position: absolute;
    left: 25%;
}

#happyBirthdayB{
    position: absolute;
    left: 39%;
    top: 55px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    font-size: 65px;
    color: rgb(77, 174, 128)
}

body.mobile #happyBirthdayB {
    position: absolute;
    left: 33%;
}

.slideshow img {
    position: absolute;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    opacity: 0;
    animation: fadeCycle 96s infinite;
}

body.mobile .slideshow img {
    height: 400px;
    width: 340px;
    overflow: hidden;
    object-fit: cover;
}

    /* FADE KEYFRAME */
@keyframes fadeCycle {
    0%   { opacity: 0; }
    5%   { opacity: 1; }   /* fade in */
    25%  { opacity: 1; }   /* fully visible */
    30%  { opacity: 0; }   /* fade out */
    100% { opacity: 0; }
}



#image1 {
    position: absolute;
    left: 0%;
    top: 80px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    animation-delay: 0s;
}

body.mobile #image1 {
    top: 150px;
    height: 650px;
    width: 552.5px;
}

#image2 {
    position: absolute;
    right: 0%;
    top: 650px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    animation-delay: 6s;
}

body.mobile #image2 {
    top: 650px;
    height: 650px;
    width: 552.5px;
}

#image3 {
    position: absolute;
    left: 0%;
    top: 1245px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    animation-delay: 12s;
}

body.mobile #image3 {
    top: 1165px;
    height: 650px;
    width: 552.5px;
}

#image4 {
    position: absolute;
    right: 0%;
    top: 1915px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 15%, 100% 70%, 0% 70%, 0% 15%);
    animation-delay: 18s;
}

body.mobile #image4 {
    top: 1770px;
    height: 650px;
    width: 552.5px;
}

#image5 {
    position: absolute;
    left: 0%;
    top: 280px;
    height: 730px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 0%, 100% 60%, 0% 60%, 0% 0%);
    animation-delay: 24s;
}

body.mobile #image5 {
    top: 310px;
    height: 600px;
    width: 552.5px;
}

#image6 {
    position: absolute;
    right: 0%;
    top: 650px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    animation-delay: 30s;
}

body.mobile #image6 {
    top: 650px;
    height: 650px;
    width: 552.5px;
}

#image7 {
    position: absolute;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    left: 0%;
    top: 1245px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    animation-delay: 36s;
}

body.mobile #image7 {
    top: 1165px;
    height: 650px;
    width: 552.5px;
}

#image8 {
    position: absolute;
    right: 0%;
    top: 1915px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 15%, 100% 70%, 0% 70%, 0% 15%);
    animation-delay: 42s;
}

body.mobile #image8 {
    top: 1770px;
    height: 650px;
    width: 552.5px;
}

#image9 {
    position: absolute;
    left: 0%;
    top: 80px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    animation-delay: 48s;
}

body.mobile #image9 {
    top: 150px;
    height: 650px;
    width: 552.5px;
}

#image10 {
    position: absolute;
    right: 0%;
    top: 810px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 5%, 100% 60%, 0% 60%, 0% 5%);
    animation-delay: 54s;
}

body.mobile #image10 {
    top: 780px;
    height: 650px;
    width: 552.5px;
}

#image11 {
    position: absolute;
    left: 0%;
    top: 1245px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    animation-delay: 60s;
}

body.mobile #image11 {
    top: 1165px;
    height: 650px;
    width: 552.5px;
}

#image12 {
    position: absolute;
    right: 0%;
    top: 1835px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    animation-delay: 66s;
}

body.mobile #image12 {
    top: 1705px;
    height: 650px;
    width: 552.5px;
}

#image13 {
    position: absolute;
    left: 0%;
    top: 160px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 15%, 100% 70%, 0% 70%, 0% 15%);
    animation-delay: 72s;
}

body.mobile #image13 {
    top: 215px;
    height: 650px;
    width: 552.5px;
}

#image14 {
    position: absolute;
    right: 0%;
    top: 650px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    animation-delay: 78s;
}

body.mobile #image14 {
    top: 650px;
    height: 650px;
    width: 552.5px;
}

#image15 {
    position: absolute;
    left: 0%;
    top: 1245px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    animation-delay: 84s;
}

body.mobile #image15 {
    top: 1165px;
    height: 650px;
    width: 552.5px;
}

#image16 {
    position: absolute;
    right: 0%;
    top: 1835px;
    height: 800px;
    width: 680px;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    clip-path: polygon(100% 25%, 100% 80%, 0% 80%, 0% 25%);
    animation-delay: 90s;
}

body.mobile #image16 {
    top: 1705px;
    height: 650px;
    width: 552.5px;
}



/* QUOTES SLIDES */

/* General style for all quote containers */
.quoteBoxA, .quoteBoxB, .quoteBoxC, .quoteBoxD {
    position: absolute;
    width: 400px;
    height: 700px;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(58,58,58);
}

body.mobile .quoteBoxA, .quoteBoxB, .quoteBoxC, .quoteBoxD {
    width: 300px;
    height: 595px;
    font-weight: bold;
}

/* Position each container where you want them */
.quoteBoxA { top: 320px;  right: 100px; }
.quoteBoxB { top: 800px;  left: 100px; }
.quoteBoxC { top: 1450px; right: 100px; }
.quoteBoxD { top: 1960px; left: 100px; }

body.mobile .quoteBoxA { top: 272px;  right: 85px; }
body.mobile .quoteBoxB { top: 680px;  left: 85px; }
body.mobile .quoteBoxC { top: 1232.5px; right: 85px; }
body.mobile .quoteBoxD { top: 1666px; left: 85px; }

/* All quotes inside containers */
.quoteBoxA p,
.quoteBoxB p,
.quoteBoxC p,
.quoteBoxD p {
    position: absolute;
    width: 100%;
    top: 0;
    left: 100%;         /* start off-screen */
    opacity: 0;
    font-size: 38px;
    margin: 0;
    padding: 0;
    animation: slideQuotes 210s linear infinite;
}

body.mobile .quoteBoxA p, .quoteBoxB p, .quoteBoxC p, .quoteBoxD p {
    font-size: 30px;
}


/* Keyframes for sliding */
@keyframes slideQuotes {
    0%   { left: 100%; opacity: 0; }
    1%   { left: 0%;   opacity: 1; }   /* slide in */
    16%  { left: 0%;   opacity: 1; }   /* stay visible */
    17%  { left: -100%; opacity: 0; }  /* slide out */
    100%  { left: -100%; opacity: 0; }
}

/* Sequential delays for each quote in each container */

.quoteBoxA p:nth-child(1) { animation-delay: 0s; }
.quoteBoxA p:nth-child(2) { animation-delay: 35s; }
.quoteBoxA p:nth-child(3) { animation-delay: 70s; }
.quoteBoxA p:nth-child(4) { animation-delay: 105s; }
.quoteBoxA p:nth-child(5) { animation-delay: 140s; }
.quoteBoxA p:nth-child(6) { animation-delay: 175s; }

#quote1 {
    position: absolute;
    top: 50px;
}

body.mobile #quote1 {
    top: 110px;
}

#quote2 {
    position: absolute;
    top: 75px;
}

body.mobile #quote2 {
    top: 110px;
}

#quote3 {
    position: absolute;
    top: 80px;
}

body.mobile #quote3 {
    top: 135px;
}

#quote4 {
    position: absolute;
    top: 65px; 
}

body.mobile #quote4 {
    top: 135px;
}

#quote5 {
    position: absolute;
    top: 30px; 
}

body.mobile #quote5 {
    top: 110px;
}

#quote6 {
    position: absolute;
    top: 55px;
}

body.mobile #quote6 {
    top: 135px;
}

.quoteBoxB p:nth-child(1) { animation-delay: 6s; }
.quoteBoxB p:nth-child(2) { animation-delay: 41s; }
.quoteBoxB p:nth-child(3) { animation-delay: 76s; }
.quoteBoxB p:nth-child(4) { animation-delay: 111s; }
.quoteBoxB p:nth-child(5) { animation-delay: 146s; }
.quoteBoxB p:nth-child(6) { animation-delay: 181s; }

#quote7 {
    position: absolute;
    top: 155px;
}

body.mobile #quote7 {
    top: 225px;
}

#quote8 {
    position: absolute;
    top: 55px;
}

body.mobile #quote8 {
    top: 125px;
}

#quote9 {
    position: absolute;
    top: 100px;
}

body.mobile #quote9 {
    top: 180px;
}

#quote10 {
    position: absolute;
    top: 110px;
}

body.mobile #quote10 {
    top: 180px;
}

#quote11 {
    position: absolute;
    top: 120px;
}

body.mobile #quote11 {
    top: 190px;
}

#quote12 {
    position: absolute;
    top: 180px;
}

body.mobile #quote12 {
    top: 240px;
}

.quoteBoxC p:nth-child(1) { animation-delay: 12s; }
.quoteBoxC p:nth-child(2) { animation-delay: 47s; }
.quoteBoxC p:nth-child(3) { animation-delay: 82s; }
.quoteBoxC p:nth-child(4) { animation-delay: 117s; }
.quoteBoxC p:nth-child(5) { animation-delay: 152s; }
.quoteBoxC p:nth-child(6) { animation-delay: 187s; }

#quote13 {
    position: absolute;
    top: 50px;
}

body.mobile #quote13 {
    top: 140px;
}

#quote14 {
    position: absolute;
    top: -5px;
}

body.mobile #quote14 {
    top: 105px;
}

#quote15 {
    position: absolute;
    top: 20px;
}

body.mobile #quote15 {
    top: 125px;
}

#quote16 {
    position: absolute;
    top: 80px;
    font-size: 36px;
}

body.mobile #quote16 {
    top: 115px;
    font-size: 30px;
}

#quote17 {
    position: absolute;
    top: 50px;
}

body.mobile #quote17 {
    top: 115px;
}

#quote18 {
    position: absolute;
    top: -10px;
    font-size: 36px;
}

body.mobile #quote18 {
    top: 65px;
    font-size: 30px;
}

.quoteBoxD p:nth-child(1) { animation-delay: 18s; }
.quoteBoxD p:nth-child(2) { animation-delay: 53s; }
.quoteBoxD p:nth-child(3) { animation-delay: 88s; }
.quoteBoxD p:nth-child(4) { animation-delay: 123s; }
.quoteBoxD p:nth-child(5) { animation-delay: 158s; }
.quoteBoxD p:nth-child(6) { animation-delay: 193s; }

#quote19 {
    position: absolute;
    top: 60px;
    font-size: 36px;
}

body.mobile #quote19 {
    top: 195px;
    font-size: 30px;
}

#quote20 {
    position: absolute;
    top: 165px;
}

body.mobile #quote20 {
    top: 275px;
}

#quote21 {
    position: absolute;
    top: 85px;
}

body.mobile #quote21 {
    top: 240px;
}

#quote22 {
    position: absolute;
    top: 30px;
    font-size: 35px;
}

body.mobile #quote22 {
    top: 140px;
    font-size: 30px;
    height: 500px;
}

#quote23 {
    position: absolute;
    top: 80px;
}

body.mobile #quote23 {
    top: 195px;
}

#quote24 {
    position: absolute;
    top: 110px;
}

body.mobile #quote24 {
    top: 210px;
}